@font-face {
    font-family: 'Quicksand';
    src: url('./assets/Quicksand-VariableFont_wght.ttf') format('truetype');
}

:root {
    --primary: #15683f;
    --primary-light: #3a805d;
    --primary-fade: #77a085;
    --second: #d1e8fc;
    --second-light: #d9ebfc;
    --second-fade: #ebf5fd;
    --accent: #FFFFFF;
    --accent-alt: #959a9b; 
}

html {
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 18px;
}

body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

button, input, label {
    box-sizing:content-box;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    cursor: pointer;
    display: block;
}

button:active, input:active, label:active{
    cursor: default;
}

:where(textarea),
:where(input[type="text"], input[type="search"], input[type="password"], input[type="url"]){
  appearance: none;
  border-style: solid;
  outline: none;
} 

/* input::placeholder {
    color: var(--pip-darkened);
    color-scheme: var(--pip-darkened);
} */

ul {
    list-style: none;
}

svg {
    width: 30px;
}

.hidden {
    display: none;
} 

/* custom styling things */ 
body {
    display: grid;
    grid-template-rows: 1fr auto;
}

.basic-but {
    background-color: var(--second);
    color: var(--primary);
    border-radius: 8px;
}

.basic-but:hover {
    background-color: var(--second-light);
    color: var(--primary-light);
}

.basic-but:disabled, .basic-but:active {
    background-color: var(--second-fade);
    color: var(--primary-fade);

}

/* || Header */
header { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    height: 100px;

    padding: 0 40px;

    width: 100%;
    box-sizing: border-box;

    position: fixed;
    top: 0;

    color: var(--accent);
    transition: background-color 400ms linear, top 100ms ease-in, color 400ms linear;
    z-index: 1;
}

header.hidden {
    display: grid;
    
    top: -100px;
}

header:hover {
    background-color: var(--accent);
    color: black;
}

header:hover svg {
    fill: black;
    transition: fill 400ms linear;
}


.logo-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo {
    width: 110px;      
}

.logo-container h1 {
    font-size: 1.5rem;
}

header svg {
    fill: var(--accent);
}

.header-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    justify-self: center;
}

.header-links a {
    text-decoration: none;
    width: 130px;
    color: inherit;
    box-sizing: border-box;
    text-align: center;

}

.header-links a:hover {
    /* text-shadow: 0.8px 0px 0px black, -0.8px 0px 0px black;
    letter-spacing: 1px; */

    font-weight: bolder;
}

.nav-icons {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-self: right;
}

.language-handler {
    display: flex;
    align-items: center;
    gap: 10px;
}
header:hover .language-handler {
    color: var(--primary);
    font-weight: 700;
}
/****/

main {
    display: flex;
    flex-direction: column;
}

/* || hero */ 
section.hero {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--accent);
}

section.hero video {
    position: absolute;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
}

section.hero .tinter {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-color: #27272756;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;

    text-align: center;
    align-items: center;
}

.hero-text h2 {
    font-size: 1.5rem;
}

.hero-text h1 {
    font-size: 4rem;
    width: 70%;
}
/****/

/* || Latest feed and slider */
.latest-feed {
    padding: 120px 17%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.latest-feed > h3 {
    border-top: 1px solid var(--accent-alt);
    width: 400px;
    padding-top: 30px;
    font-size: 2rem;
}

.latest-feed .container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 25px;

}

.arrow-holder {
    display: flex;
    gap: 20px;
    justify-self: right;
}

.arrow-holder button {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

.slider-frame {
    height: 500px;
    overflow-x: hidden; /* Removing this makes everything shift to the right (i think cause it lets slider get super big */
}

.slider {
    position: relative;
    display: flex;
    gap: 20px;
    height: 100%;
    transition: right 300ms linear; 
    right: 0%;
}

.card {
    flex: 1; 
    height: 100%;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.card .img-holder {
    height: 60%;
    width: 100%;
    position: relative;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
}

.img-holder button {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 8px 0 8px 0;
    font-size: 30px;
}

.card h3, .card p {
    margin: 0 20px;
    width: 80%;
}

/* || Footer */ 
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    gap: 55px;

    padding: 40px 17%;

    background-color: var(--second);
}

footer > ul li:first-child, footer .socials h3 {
    font-weight: 700;
    font-size: inherit;
    margin-bottom: 15px;
}

footer .logo-container {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
}

footer .opportunities {
    grid-row: 1 / 2;
}

footer .socials {
    grid-row: 1 / 2;
}

.socials .social-links {
    display: flex;
    gap: 15px;
}

.social-icon.x {
    width: 25px;
}

footer .boring-stuff {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
}

footer .boring-stuff .boring-links {
    flex: 2; 

    display: flex;
    justify-content: center;
    gap: 70px;
}

.topper {
    color: var(--primary);
    font-weight: 700;
}

.topper:hover {
    color: var(--primary-light);
}

.topper:active {
    color: var(--primary-fade);
}